[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
nltk = "*"
keras-tuner = "*"
tensorboard = "*"
scrapy = "*"
gensim = "*"
pyemd = "*"
pyyaml = "*"
bs4 = "*"
pandas = "*"
tensorflow-hub = "*"
tensorflow-datasets = "*"
numpy = "*"
spacy = "*"

[requires]
python_version = "3.8"
